
.explore-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 1.25rem; 
  font-weight: 500;
}

.explore-users-container {
  box-sizing: border-box; 
  justify-content: center;
  margin: 0 auto;
  width: 100%; 
  max-width: 455px;
  min-width: 320px;
  overflow: hidden;
  background-color: #fff;
  padding: 1.25rem;  
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50px;
  overflow: hidden;
  margin: auto;
  width: 90%;
  max-width: 510px;
  padding: 1px;
}

.search-bar img {
  margin-right: 10px;
  margin-left: 10px;
  width: 15px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
}

.search-bar button {
  border: 0;
  background-color: white;
  border-radius: 50%;
  width: 25px;  
  height: 25px;
  padding: 5px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button img {
  width: 15px;
  transition: opacity 0.2s ease-in-out; /* transition effect */
}

.search-bar button:hover img {
  opacity: 0.6; 
}


.explore-list {
  display: grid;
  gap: 15px;
  padding: 0;
}

.explore-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore-item-content {
  display: flex;
  align-items: center;
}

.explore-item-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.explore-item-info {
  margin-left: 10px;
}

.explore-item-info p {
  margin: 0;
  max-width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.explore-follow-image-container img {
  width: 25px;
  border-radius: 50%; /* makes the image a circle */
  transition: opacity 0.2s ease-in-out; /* transition effect */
}

.explore-follow-image-container:hover img {
  opacity: 0.5; 
} 

p a {
  color: black;
  text-decoration: none;
}

p a:hover {
  color: dimgray;
}

.exp-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.exp-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.exp-confirm-buttons {
  display: flex;
  justify-content: center;
}

.exp-confirm-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 50px;
  border: none;
  background-color: #f0f0f0;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out; 
}

.exp-confirm-button:hover {
  background-color: #e6e6e6; 
}