.followed-users-container {
  box-sizing: border-box; 
  justify-content: center;
  margin: 0 auto;
  width: 99%; 
  max-width: 455px;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #2b2b2b;
  padding: 20px 25px;  
  border-radius: 8px;
}

.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  font-size: 1.25rem; 
  font-weight: 500;
  color: #f0f0f0; 
}

.following-list {
  display: grid;
  gap: 15px;
  padding: 0;
}

.following-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.following-item-content {
  display: flex;
  align-items: center;
}

.following-item-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.following-item-info {
  margin-left: 10px;
}

.following-item-info p {
  margin: 0;
  max-width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fol-button {
  font-size: 10px;
  font-weight: 600;
  border-radius: 50px; 
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.fol-follow-button {
  background-color: #229822;
  color: #2b2b2b;
  padding: 4px 13.2px;
}
.fol-unfollow-button {
  background-color: #2b2b2b;
  border: 1px solid #229822;
  color: #229822;
  padding: 4px 8px;
}

.fol-follow-button:hover {
  background-color: #1b771b;
}

.fol-unfollow-button:hover {
  background-color: #202020;
}

.username-link {
  color: #f0f0f0;
  text-decoration: none;
}

.username-link:hover {
  color: #c6c6c6;
}

.fol-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.fol-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.fol-confirm-buttons {
  display: flex;
  justify-content: center;
}

.fol-confirm-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 50px;
  border: none;
  background-color: #e3e1e1;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out; 
}

.fol-confirm-button:hover {
  background-color: #d8d8d8; 
}