.navbar {
  position: fixed;
  bottom: -4px;
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 10px;
}

.nav-link {
  text-decoration: none;
}

.footer-button {  
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 10px;
  white-space: nowrap;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: opacity .5s ease-in-out;
  cursor: pointer;  
}

.active-footer-button {
  border: #2eb61f 1px solid;
}

.profile-button:hover {
  box-shadow: 0 0 4px rgba(214, 214, 214, 0.5);
}

.following-button:hover {
  background-image: url('../../assets/following-thick.png');
  background-size: cover;
}

.explore-button:hover {
  background-image: url('../../assets/explore-thick.png');
  background-size: cover;
}