.profile-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 10px;
  background-color: light;
  align-items: center;
}

.profile-image {
  width: 200px;
  border-radius: 50%;
  margin-right: .5rem;
}

.profile-info {
  margin-left: 20px;
}

.align-right {
  position: absolute;
  right: 5%;
}

.image-container img {
  width: 25px;
  border-radius: 50%; /* makes the image a circle */
  cursor: pointer;
  transition: opacity 0.2s ease-in-out; /* transition effect */
}

.image-container:hover img {
  opacity: 0.5; /* makes the image darker on hover */
}

.logout-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button-container button {
  border: none;
  outline: none;
  background-color: #e6e6e6;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.logout-button-container button:hover {
  background-color: #dadcde;
}

.body-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

/* top items */
.top-items-container {
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  padding: 1.25rem;  
}

.items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  font-size: 1.25rem; 
  font-weight: 500;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  background-color: rgb(122, 123, 125);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .25rem;
  transition: background-color .25s ease-in-out
}

.button:hover {
  background-color: #585c5e;
}

.active-button {
  background-color: #585c5e;
  border: #2eb61f 1px solid;
}

.time-frame-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}

.see-more-button {
  display: flex;
  justify-content: flex-end;
}

/* top artists list */
.artist-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.artist-item {
  display: flex;
  align-items: center;
}

.artist-item-index {
  width: 20px;
  text-align: right;
}

.artist-item-content {
  display: flex;
  align-items: center;
}

.artist-item-image {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.artist-item-link {
  color: black;
  text-decoration: none;
}


/* top songs list */
.song-list {
  list-style-type: none;
}

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.song-item-content {
  display: flex;
  align-items: center;
}

.song-item-index {
  width: 20px;
  text-align: right;
}

.song-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.song-item-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.song-item-image {
  width: 50px;
  margin-right: 10px;
}

/* genre list */
.genre-list {
  list-style-type: none;
}

.genre-item-content {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.genre-item-index {
  width: 20px;
  text-align: right;
}

.genre-item-info {
  margin-left: 10px;
}

/* private user message */
.private-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.private-user-container img {
  width: 100px;
  height: 100px; 
  border: 1px solid #000; 
  border-radius: 50%;
  object-fit: cover; 
  padding: 10px; 
  box-sizing: border-box; 
}

.private-user-container p {
  font-size: 24px;
  font-weight: bold;
}