
/* effecting every page */
body {
  background-color: #2b2b2b;
  caret-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent; /*Disable touch highlight for touchscreen */
}

/* color border */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.color-border {
  position: relative;
  width: 100%; 
  max-width: 455px;
  padding: 2px 0px; /* width of border */
  margin: 0 auto 51px;
}

.color-border::before {
  content: "";
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg, #12314c, #141f54, #4a2c73, #7a4880, #b76cb5);
  background-size: 200% 200%;
  z-index: -1;
  animation: gradient 10s ease infinite;
}

/* ------------------ profile ------------------ */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 99%;
  max-width: 455px;
  padding: 15px 0 ;
  margin: 0 auto;
  background-color: #353535;
  border-radius: 8px;
}

.profile-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.profile-image {
  width: 30%;
  max-width: 200px; 
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  width: 180px;
  /* position: relative; */
  align-self: flex-end;
}

/* TODO: fix long names by making font smaller or something */
.username {
  font-size: 20px;
  color: #f0f0f0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 -2px;
  width: 150px;
}

.pro-info-placeholder {
  height: 24px;
}
.pro-button {
  /* position: absolute;
  left: 44%;
  top: 80%; */
  /* transform: translateY(-50%); */
  font-size: 10px;
  font-weight: 600;
  border-radius: 50px; 
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* display: inline-block; */
  margin-top: 7px;
}

.pro-follow-button {
  background-color: #229822;
  border: 1px solid #229822;
  color: #2b2b2b;
  padding: 4px 13.2px;
}
.pro-unfollow-button {
  background-color: #353535;
  border: 1px solid #229822;
  color: #229822;
  padding: 4px 8px;
}

.pro-follow-button:hover {
  background-color: #1b771b;
}

.pro-unfollow-button:hover {
  background-color: #2a2a2a;
}

.privacy-n-followers {
  padding-top: 3px;
  display: flex;
}

.privacy-icon {
  width: 12px;
  object-fit: contain;
}

.follower-count {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #f0f0f0;
  display: flex;
  align-items: center;
}

.follower-count-text {
  font-size: 15px;
  font-weight: 300;
  margin-left: 4px;
}

.logout-button-container {
  position: absolute;
  top: 8px;
  right: 4%;
}

.logout-button-container button {
  border: none;
  outline: none;
  background-color: #353535;
  border: 1px solid #229822;
  color: #229822;
  border-radius: 50px;
  padding: 4px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 10px;
  font-weight: 600;
}

.logout-button-container button:hover {
  background-color: #2a2a2a;
}

/* special message only for my profile */
.personalized-message-container {
  width: 80%;
  background: linear-gradient(135deg, #3a3a3a, #8d8c8c); /*#ff7e5f, #feb47b*/
  color: #ffffff; 
  border-radius: 20px;
  margin: 13px auto 0;
  border: none; 
  padding: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  font-family: 'Arial', sans-serif; 
  font-size: 14px; 
  text-align: center; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.personalized-message-container:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}

/* follow confirmation */
.pro-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.pro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.pro-confirm-buttons {
  display: flex;
  justify-content: center;
}

.pro-confirm-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 50px;
  border: none;
  background-color: #e3e1e1;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out; 
}

.pro-confirm-button:hover {
  background-color: #d8d8d8; 
}

/* ------------------- body ------------------- */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: #f0f0f0;
  background-color: #2b2b2b;
  width: 99%;
  margin: 1px auto;
  padding: 60px 0;
}

/* top items */
.body-container {
  width: 100%;
  /* padding: 0 50px; */
  margin: 0 auto;
}

.top-items-container {
  box-sizing: border-box; 
  justify-content: center;
  margin: 2px auto 0 auto;
  width: 99%; 
  max-width: 455px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  background-color: #2b2b2b;
  padding: 20px ;  
}

.items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  font-size: 1.25rem; 
  font-weight: 500;
  color: #f0f0f0;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  background-color: rgb(122, 123, 125);
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .25rem;
  transition: background-color .25s ease-in-out
}

.button:hover {
  background-color: #585c5e;
}

.active-button {
  background-color: #585c5e;
  border: #2eb61f 1px solid;
}

.time-frame-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  font-size: 10px;
  white-space: nowrap;
}

.see-more-button {
  display: flex;
  justify-content: flex-end;
}

/* top artists list */
.artist-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0;
}

.artist-item {
  display: flex;
  align-items: center;
}

.artist-item-index {
  width: 20px;
  text-align: right;
  color: #f0f0f0;
}

.artist-item-content {
  display: flex;
  align-items: center;
}

.artist-item-image {
  width: 50px;
  margin: 0 10px;
  border-radius: 50%;
}

.artist-item-link {
  color: #f0f0f0;
  text-decoration: none;
  word-break: break-word;
}

.artist-item-link:hover {
  color: #c6c6c6;
}


/* top songs list */
.song-list {
  list-style-type: none;
  padding: 0;
}

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.song-item-content {
  display: flex;
  align-items: center;
}

.song-item-index {
  width: 20px;
  text-align: right;
  color: #f0f0f0;
}

.song-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  color: #f0f0f0;

}

.song-item-link {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 780;
}

.song-item-link:hover {
  color: #c6c6c6;
}

.song-item-image {
  width: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

/* genre list */
.genre-list {
  list-style-type: none;
  padding: 0;
}

.genre-item-content {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.genre-item-index {
  width: 20px;
  text-align: right;
  color: #f0f0f0;
}

.genre-item-link {
  margin-left: 10px;
  color: #f0f0f0;
  text-decoration: none;
}
.genre-item-link:hover {
  color: #c6c6c6;
}

.SpotifyLogo {
  width: 70px;
  display: block;
  margin: 0 auto;
}

/* private user message */
.private-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  border-radius: 8px;
  margin: 2px auto 0px auto;
  padding: 90px 0 500px;
  width: 99%;
}

.private-user-container img {
  width: 100px;
  height: 100px; 
  border: 1px solid #f0f0f0; 
  border-radius: 50%;
  object-fit: cover; 
  padding: 10px; 
  box-sizing: border-box; 
}

.private-user-container p {
  font-size: 24px;
  font-weight: bold;
  color: #f0f0f0;
}