.song-title-container {
  margin-left: 5px;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* text-align: center; */
}

.title-wrapper {
  display: block;
  box-sizing: content-box;
}

.song-title {
  white-space: nowrap;
  font-size: 11px;
  color: #f0f0f0;
}