.image-container img {
  width: 25px;
  border-radius: 50%; /* makes the image a circle */
  transition: opacity 0.2s ease-in-out; /* transition effect */
}

.image-container:hover img {
  opacity: 0.5; /* makes the image darker on hover */
}

.align-right {
  position: absolute;
  right: 5%;
}

.currently-playing-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* text-align: center; */
}

.marquee {
  font-size: 14px;
  display: inline-block;
  /* padding-left: 100%; */
  animation: marquee 17s linear infinite;
}

@keyframes marquee {
  0%, 12% { transform: translateX(0); } /* Remain at 0 for the first 12% */
  100% { transform: translateX(-100%); } /* Start moving at 12% and complete at 100% */
}

.song-title-container {
  margin-left: 5px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* text-align: center; */
}

.title-wrapper {
  display: block;
  box-sizing: content-box;
}

.title {
  white-space: nowrap;
  font-size: 14px;
}
